body{
    font-size: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image:url('back.png');
    margin: 0;
    padding: 0;
    font-family: "仿宋";
    font-weight: 700;
}

h1{
    font-weight: 700;
    font-size: 35px;
    font-family: "仿宋";
    padding-top: 6%;
    padding-bottom: 3%;
}
#videoBtn {
    width: max-content;
    align-self:auto;
    padding-bottom: 300px; 
}
#video1{
    width: max-content;
}
h2 {
    font-weight: 700;
    font-size: 35px;
    font-family: "仿宋";
    padding-bottom: 3%
}

.item {
    margin-bottom: 250px;
    display: flex;  
    justify-content: center;  
    align-items: flex-end;
}

.img {
    flex-grow:1;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;  
}
 
.box ul {
    width: 900px;
    height: 100%;
    overflow: hidden;
    transition: all .4s;
}
 
.box ul li {
    position: relative;
    float: left;
    list-style-type: none;
    width: 100px;
    transition: all .3s;
}
 
.box ul li p {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    font-family: "仿宋";    
    font-weight: bold;
    color: #fcfafa;  
    background-color: rgba(0, 0, 0, .3);
    transition: all .4s;
}

.box ul li:hover p {
    font-size: 20px; 
}
 

.box ul li:hover {
    width: 400px;
    
}

h3{
    font-weight: 700;
    font-size: 35px;
    font-family: "仿宋";
    padding-bottom: 3%
}

#div3{
    margin-bottom: 300px;
    width: 1000px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#hea{
    width: 100%;
    height: 140px;
    font-size: 20px;
    text-indent: 2em;
}

#jieshao{
    height: 900px;
    display: grid;
    grid-template-rows: repeat(20,50px);
    grid-template-columns: repeat(18,50px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-bottom: 9%;
}

#chun1{ 
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 14;  
    background-image:url('立春.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#p1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color:rgb(26, 52, 30);
    text-indent: 2em;
}
#chun2{
    grid-row-start: 1;
    grid-row-end: 11;
    grid-column-start: 14;
    grid-column-end: 21;
    background-image:url('雨水.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#p2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color:rgb(241, 239, 239);
    text-indent: 2em;
}
#chun3{
    grid-row-start: 7;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 9;
    background-image:url('惊蛰.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#p3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color:rgb(30, 21, 26);
    text-indent: 2em;
}
#chun4{
    grid-row-start: 7;
    grid-row-end: 19;
    grid-column-start: 9;
    grid-column-end: 14;
    background-image:url('春分.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows: 7fr 5fr;
    grid-template-columns:1fr 5fr 1fr;
}
#p4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color:rgb(255, 255, 255);
    text-indent: 2em;
}
#chun5{
    grid-row-start: 14;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 9;
    background-image:url('清明.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows: 3fr 6fr 4fr;
}
#p5{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    color:rgb(15, 42, 5);
    text-indent: 2em;
}
#chun6{
    grid-row-start: 11;
    grid-row-end: 19;
    grid-column-start: 14;
    grid-column-end: 21;
    background-image:url('谷雨.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#p6{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color:rgb(26, 38, 41);
    text-indent: 2em;
}

#chun1{
    position:relative;
}
.chuntian1{
    animation-name:mymove1;
    animation-duration:1s;
    
    -webkit-animation-name:mymove1;
    -webkit-animation-duration:1s;
}
@keyframes mymove1
{
from {right:200px;}
to {right:0px;}
0% {
opacity: 0.1; 
}
50% {
opacity: 0.5; 
}
100% {
opacity: 1;
}
}
@-webkit-keyframes mymove1
{
from {right:200px;}
to {right:0px;}
}


#chun2{
    position:relative;  
}
.chuntian2{
    animation-name:mymove2;
    animation-duration:1s;  
    
    -webkit-animation-name:mymove2;
    -webkit-animation-duration:1s;
}
@keyframes mymove2
{
from {bottom: 150px;}
to {bottom:0px;}
0% {
opacity: 0.1; 
}
50% {
opacity: 0.5; 
}
100% {
opacity: 1; 
}
}
@-webkit-keyframes mymove2
{
from {bottom: 150px;}
to {bottom:0px;}
}


#chun3{
    position:relative; 
}
.chuntian3{
    animation-name:mymove3;
    animation-duration:1s;
    
    -webkit-animation-name:mymove3;
    -webkit-animation-duration:1s;
}
@keyframes mymove3 
{
from {right:180px;}
to {right:0px;}
0% {
opacity: 0.1;
}
50% {
opacity: 0.5; 
}
100% {
opacity: 1; 
}
}
@-webkit-keyframes mymove3
{
from {right:180px;}
to {right:0px;}
}


#chun4{
    position:relative; 
}
.chuntian4{
    animation-name:mymove4;
    animation-duration:1s;
    
    -webkit-animation-name:mymove4;
    -webkit-animation-duration:1s;
}
@keyframes mymove4 
{
from {top:200px;}
to {top:0px;}
0% {
opacity: 0.1;
}
50% {
opacity: 0.5;
}
100% {
opacity: 1;
}
}
@-webkit-keyframes mymove4
{
from {top:200px;}
to {top:0px;}
}


#chun5{
    position:relative;
}  
.chuntian5{
    animation-name:mymove5;
    animation-duration:1s;  
    
    -webkit-animation-name:mymove5;
    -webkit-animation-duration:1s; 
}
@keyframes mymove5
{
from {right:150px;}
to {right:0px;}
0% {
opacity: 0.1; 
}
50% {
opacity: 0.5; 
}
100% {
opacity: 1;
}
}
@-webkit-keyframes mymove5
{
from {right:150px;}
to {right:0px;}
}


#chun6{
    position:relative;
}
.chuntian6{
    animation-name:mymove6;
    animation-duration:1s; 

    -webkit-animation-name:mymove6;
    -webkit-animation-duration:1s;
}
@keyframes mymove6
{
from {left:220px;}
to {left:0px;}
0% {
opacity: 0.1;
}
50% {
opacity: 0.5; 
}
100% {
opacity: 1; 
}
}
@-webkit-keyframes mymove6
{
from {left:200px;}
to {left:0px;}
}


h4{
    font-weight: 700;
    font-size: 35px;
    font-family: "仿宋";
    padding-bottom: 5%
}

#div4{
    padding: 0;
    margin: 0;
    margin-bottom: 200px;
    width: 100vmax;
    height: 35.54455445544vmax;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}


#div4left{
    position:relative;
}
.leftbefore{
    text-align: center;   
    vertical-align: middle;
    letter-spacing: 1px;
    line-height: 140%;

    grid-column-start: 1;
    grid-column-end: 2;
    background-image:url('left-back.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows:1fr 4fr 1fr 4fr 1fr;
    grid-template-columns:2fr 8fr 1fr 8fr;
}

.leftafter{
    animation-name:leftmove;
    animation-duration:1.5s; 
    -webkit-animation-name:leftmove;
    -webkit-animation-duration:1.5s;
}
@keyframes leftmove
{
from {right:220px;}
to {right:0px;}
0% {
opacity: 0.5; 
}
50% {
opacity: 0.8; 
}
100% {
opacity: 1; 
}
}
@-webkit-keyframes leftmove
{
from {right:200px;}
to {right:0px;}
}


#div4right{
    position:relative;   
}
.rightbefore{
    text-align: center;   
    vertical-align: middle;
    letter-spacing: 1px;
    line-height: 140%;

    text-align: center;   
    grid-column-start: 2;
    grid-column-end: 3;
    background-image:url('right-back.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows:1fr 4fr 1fr 4fr 1fr;
    grid-template-columns:1fr 8fr 1fr 6fr 2fr;
}

.rightafter{
    animation-name:rightmove;
    animation-duration:1.5s; 

    -webkit-animation-name:rightmove;
    -webkit-animation-duration:1.5s;
}
@keyframes rightmove 
{
from {left:220px;}
to {left:0px;}
0% {
opacity: 0.5; 
}
50% {
opacity: 0.8;
}
100% {
opacity: 1;
}
}
@-webkit-keyframes rightmove
{
from {left:200px;}
to {left:0px;}
}

#son1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color: bisque;
}
#son2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    color: bisque;
}
#son3{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    color: bisque;
}
#son4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    color: bisque;
}
#son5{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    color: bisque;
}
#son6{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
    color: bisque;
}
#more{   
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5; 
}
.morepoems:link{
    text-decoration: none;
}


.morepoems:hover{
    color: #fcfafa;
}

h5{
    font-weight: 700;
    font-size: 35px;
    font-family: "仿宋";
    padding-bottom: 3%
}
#div5{
    width: 1300px;
    height: 3000px;
    display: flex;
    
}
#yangsheng{
    display: grid;
    grid-template-rows:repeat(6 1fr);
    grid-template-columns: 300px 700px 300px;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    
}
#yangsheng p{
    font-size: 20px;
    font-weight: normal;
    font-family: "楷体";
    text-indent: 2em;
}
#yangsheng hh{
    font-weight: 700;
    font-size: 30px;
    color:rgb(249, 238, 224);
    
}
hhh{
    font-size: 25px;
    font-weight: 700;
    color: rgb(210, 215, 215);
}
#div5_1{
    height: 500px;   
    border-style: solid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url('green1.jpg');
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);/*元素变换 */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);/*阴影*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#div5_1:hover, #div5_1:focus, #div5_1:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;/*保证鼠标悬浮时该div在最上层*/
}
#div5_1right{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
#div5_1right img{
    mix-blend-mode:multiply;
}

#div5_2{
    height: 500px;
    border-style: solid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url('green1.jpg');
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);/*元素变换 */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);/*阴影*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#div5_2:hover, #div5_2:focus, #div5_2:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;
}
#div_gif_left{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: right;
}
#div_gif_left img{
    
    height: 600px;
}

#div5_3{
    height: 500px;
    border-style: solid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url('green1.jpg');   
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);/*元素变换 */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);/*阴影*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#div5_3:hover, #div5_3:focus, #div5_3:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;
}
#div5_4{
    height: 500px;
    border-style: solid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url('green1.jpg');   
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);/*元素变换 */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);/*阴影*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#div5_4:hover, #div5_4:focus, #div5_4:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;
}
#div5_2left{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: right;
}
#div5_2left img{
    mix-blend-mode:multiply;
}
#div5_5{
    height: 500px;
    border-style: solid;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url('green1.jpg');  
    border-radius: 10px;    
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);/*元素变换 */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);/*阴影*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#div5_5:hover, #div5_5:focus, #div5_5:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;
}
#div5_3right{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: left;
    align-items: center;
}
#div5_3right img{
    mix-blend-mode:multiply;
}

#div5_6{
    height: 500px;
    border-style: solid;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url('green1.jpg');   
    border-radius: 10px;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);/*元素变换 */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);/*阴影*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#div5_6:hover, #div5_6:focus, #div5_6:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99999;
}

