@charset "utf-8";
/* CSS Document */
*{	margin:0px;	padding:0px;}
html, body{position: relative;	height: 100%;}
ul, li {	list-style-image:none;	list-style-type:none;}
a{text-decoration:none;}
.left{float:left;}
.right {	float:right;}
.clearBoth{	clear:both;	height:0px;	overflow:hidden;width:0;}
em{font-style: normal;}
img{	border:0px;	border-width:0px;	margin:0px;}
body{	
	background: #eee;
	font-family: 'Microsoft YaHei', Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}
/**首页swiper组件通用定义start------------------------------*/
/*Swiper整个页面外边框---------*/
.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*每个Swiper单元外边框---------*/
.swiper-slide {
	text-align: center;
	font-size: 20px;
	background: #ffffff;
	/* Center slide text vertically */       
	/* display: -ms-flexbox;
	display: flex;        
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center; */
}
/*Swiper左侧分页圈圈*/
.swiper-container-vertical>.swiper-pagination-bullets{
	right: 0;
	left: 60px;
	width: 10px;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 10px 0;
}
.swiper-pagination-bullet{
	width: 16px;
	height:16px;
	background: #ffffff;
	opacity: 0.8;
	box-shadow: 0px -1px #000000;
}
.swiper-pagination-bullet-active {
	background: #d80000;
}
/**首页swiper组件通用定义end------------------------------*/

/*第一屏边框*/
#section1
{
	width: 100%;
	position: relative;
	overflow: hidden;
}
/*第一屏节气/传统节日图片外边框，注意宽高比*/
#section1 div.Pic
{
	width: 1920px;	
	height: 1200px;		
	position: absolute;
	z-index:0;
}
/*第一屏节气/传统节日图片外边框，注意宽高比*/
#section1 div.Pic #img_bigpic
{
	width: 120%;
}
/*第一屏右上角节气歌文字*/
#section1 .TopTxt
{
    position:absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    color: #FFF;
    font-size: 20px;
    writing-mode: vertical-rl;
    writing-mode: tb-rl;
    text-align: left;
    text-decoration: none;
    line-height: 2.4em;
	letter-spacing: 5px;
	font-family: PMingLiu;
}
/*第一屏左下角当前公历农历日期时间显示的边框*/
#section1 .DateBorder
{	
	z-index:10;
	position: absolute;
	bottom:50px;
	left:5%;

	color: #FFF;
	background: rgba(0, 0, 0,0.1);
    border-radius: 4px;
    padding: 25px 25px;
}
#section1 .DateBorder .img_TimeClock
{
	width: 58px;
	height: 58px;
}
/*动画时钟画布*/
#canvasTimeClock{
	width: 58px;
	height: 58px;
}
#section1 .DateBorder p.p_TimeNow
{
	line-height:2.4em;
	font-size:24px;
}
#section1 .DateBorder p.p_DateTimeDetail
{
	line-height:2.2em;
	font-size:15px;
}

/*第二屏---------------------------------*/
#section2
{
	width: 100%;
	background:url(../photos/background.png) repeat;
	position: relative;
	font-weight: normal;
	display: block;
}
.节气介绍 {
    padding: 20px 0 0 250px;
    color: aqua;


}
.seasons-container {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top:150px;
}
.ph {
    background: url("../photos/arr1.png") no-repeat;
    font-family: 楷体;
	color:#7d8884;
    font-size: 1em;
    background-color: white;
    width: 20px;
    text-align: center;
    text-size-adjust: 18px;
    float: left;
    padding-top: 50px;
    margin: 0 7px;
    position: relative;
    transition: transform 0.3s ease;
}

.ph::after {
	position: absolute;
    content: "";
    display: none;
    background-size: cover;
    width: 10px;
    height: 10px;
    margin: 10px auto 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.ph img {
    width: 500%;
    height: 500%;
    object-fit: cover;
}

.ph:hover {
    transform: translateY(-10px);
}


.ph:hover::after {
    display: block;
    opacity: 1;
}
.春,
.夏,
.秋,
.冬 {
    width: 500px;
    height: 225px;
    background-color: white;
    margin: 0 10px;
	position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin:auto;
}

.春字,
.夏字,
.秋字,
.冬字 {
    width: 300px;
    height: 280px;
    margin-top: -35px;
	position:absolute;
	left:-100px;
}


/*第三屏边框*/
#section3
{
	width: 100%;
	background:url("../photos/background.png");
	position: relative;
}

#section3 #leftMenuBg /*第三屏左侧导航菜单背景*/
{
	width: 45px;
	height:100%;
	background:#FFF;
	position: absolute;
	left:8%;
	top:0;
	border-left:5px solid #c35e5e;
	border-right:1px solid #c35e5e;
	padding-top:80px;
}
#section3 #leftMenuBg ul li
{
	width:25px;
	height:80px;
	padding:10px;
	font-size:16px;	
	margin-bottom:10px;
}

/*第三屏中间边框*/
#section3 #newsBgBorder 
{
	width: 80%;
	min-width:1000px;
	position: absolute;
	left:15%;
}
/*第三屏中栏目列表信息*/


#section3 #newsBgBorder dl
{
	float: left;
	width:25%;
	background:#e4e1d4;
	text-align:left;	
	margin:35px 30px;
	padding-bottom: 10px;
}
#section3 #newsBgBorder dl dt
{
	width: 100%;
	height:175px;
	position: relative;
	overflow: hidden;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}
#section3 #newsBgBorder dl dt span
{
	width: 50px;
    position: absolute;
    left: 40px;
    top: 30px;
    z-index: 1;
    color: #FFF;
    font-size: 24px;
    writing-mode: vertical-rl;
    writing-mode: tb-rl;
    text-align: left;
    text-decoration: none;
    line-height: 2.4em;
    letter-spacing: 5px;
    font-family: PMingLiu;
}
#section3 #newsBgBorder dl dt.dt1{
	background-image: url(../photos/bnnr1.jpg);
}
#section3 #newsBgBorder dl dt.dt2{
	background-image: url(../photos/bnnr2.jpg);
}
#section3 #newsBgBorder dl dt.dt3{
	background-image: url(../photos/bnnr3.jpg);
}
#section3 #newsBgBorder dl dt.dt4{
	background-image: url(../photos/bnnr4.jpg);
}
#section3 #newsBgBorder dl dt.dt5{
	background-image: url(../photos/bnnr5.jpg);
}
#section3 #newsBgBorder dl dt.dt6{
	background-image: url(../photos/bnnr6.jpg);
}


#section3 #newsBgBorder dl dd
{
	font-size:25px;
	font-family:楷体;
	line-height:2.2em;
	padding: 10px;	
	min-height:180px;
	height: auto;
}
#section3 #newsBgBorder dl dd a
{
	display: block;
	/* color:#688c8a; */
	color:#434e4a;
	text-decoration: none;
	opacity: 80%;
}
#section3 #newsBgBorder dl dd a:hover
{
	color:#d54b32;
	text-decoration: underline;
}


/*第四屏边框---------------------*/
#section4
{
	width: 100%;
	background: #FFF;
	position: relative;
	font-family:PMingLiu;
}
/*第四屏上半部分*/
#section4 #divPartTop{
	width: 100%;
	height:100%;
	background: #eeece4 url(../photos/qunshanBg.png) left bottom repeat-x;	
	position: relative;
}
/*下一节气图片-----------------------------------------*/
#section4 img.imgNextSolarterm{
	margin-top:158px;
	width:275px;
	height:275px;
	border-radius:50%;
}
/*下一节气文字描述-----------------------------------------*/
#section4 #textNextSolarTerm{
	margin: 0 auto;
	padding-top:10px;
	width:100%;		
	text-align: center;
	font-size:16px;
	font-family:PMingLiu;	
	line-height: 2.2em;	
}
#textNextSolarTerm span{
	color:#960808;
}
#textNextSolarTerm em{
	font-style:normal;
	font-size:10px;	
	color:#666;
}
/*二维码图片-----------------------------------------*/
#section4 img.imgWxMpQr{
	margin-top:18px;
	width:168px;
	height:168px;
	display: none;
}
/*第四屏下半部分*/
#section4 #divPartBot {
	margin: 0 auto;
	width: 1000px;
	height:20%;
	font-family: 'Microsoft YaHei',Arial,'Courier New', Courier;
	font-size: 14px;
}
#section4 #divPartBot a{
	color:#333;
	text-decoration: none;
}
#section4 #divPartBot a:hover,#section4 #divPartBot a.a_underLine{
	text-decoration: underline;
}
.pItem1{
	background:#78c17c;/* #a4a6a7;	*/
}
.pItem2{
	background: #d02831;/*#a3b98e;	*/
}
.pItem3{
	background:#f4ca08; /*#d9a8a7;	*/
}
.pItem4{
	background:#3a3a3a; /*#f3d14a;	*/
}
#section4 #divPartBot dl.rightLinks dd:hover a{
	display: block;
}
#section4 #divPartBot dl.rightLinks dd:hover span{
	display: none;
}

/*底部滑动、滚动点击动画按钮提示*/
#BottomBtn
{
	width: 68px;
	height: 68px;			
	position: absolute;
	z-index:100;
	bottom:5px;
	left:5px;
	cursor: pointer;
	background: rgba(152, 151, 151, 0.5);
	padding:10px;
	border-radius: 5px;
	animation: jump 2s infinite;  
	display: none;
}
/* 跳跃2s，使得按钮从0，0到0，-30再跳回到0，0 */
@keyframes jump {  
	0% {  
		transform: translate(0px, 0px);  
	}  
	50% {  
		transform: translate(0px, -30px);  
	}  
	100% {  
		transform: translate(0px, 0px);  
	}  
}  
.swiper-container{
	visibility: hidden;
}
/*页面加载等待*/
#div_img_loading{
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFF;
	position:absolute;
	top:0px;
	z-index: 999;
}
#div_img_loading img{
	position: fixed;
	top:45%;
	left:50%;
	z-index: 999;
	width:8rem;
	height:8rem;
	animation: anim_rotate 1s infinite linear;
}
/* 让加载图片进行旋转，旋转1s转完整圈 */
@keyframes anim_rotate {
    0% {
        transform:rotate(0deg);
    }    
    100% {
        transform:rotate(360deg);
    }
}